<div class="row-fluid">
    <div class="col-sm-2 col-sm-offset-1 col-xs-3 line-ident">
        <img class="icon" src="assets/images/icons/{{this.icon}}" alt="{{this.icon}}">
    </div>
    <div class="col-sm-8 col-xs-9">
        <h2>
            {{#if this.link}}
            <a href="{{this.link}}" target="_blank">{{this.title}}</a>
            {{else}}
            {{this.title}}
            {{/if}}
        </h2>
        
        {{#if this.lead}}
        <h5>{{this.lead}}</h5>
        {{/if}}
        
        {{#each this.text}}
        <p>
            {{this}}
        </p>
        {{/each}}
        
        {{#if this.projects}}
        <ul>
        {{#each this.projects}}
            <li>
                <a href="{{ this.link }}">{{ this.name }}</a><br>
                <p>
                    {{ this.description }}
                </p>
                {{#if this.award}}
                <img class="icon" src="assets/images/icons/star.svg" alt="Star" width="24" height="24">
                Awarded the <a href="{{ this.award.link }}" target="_blank">
                    {{ this.award.title }}
                </a>
                {{/if}}
            </li>
        {{/each}}
        </ul>
        {{/if}}
        
        {{#if this.skills}}
        <ul>
        {{#each this.skills}}
            <li>{{ this }}</li>
        {{/each}}
        </ul>
        {{/if}}
        
        {{#if this.award}}
        <p>
            <img class="icon" src="assets/images/icons/star.svg" alt="Star" width="24" height="24">
            {{ this.award }}
        </p>
        {{/if}}
        
    </div>
    <div class="clearfix"></div>
</div>
