<section id="skills" class="row-fluid">
    <div class="wrapper">
        <div id="ux">
            <div class="heading">
                <h1 class="title"><span class="hidden-md">I'm a&nbsp;</span>{{skills.ux.title}}</h1>
            </div>
            <div class="detail">
                <div class="group">
                    <p class="hz">{{{skills.ux.desc}}}</p>
                </div>
                <div class="group"></div>
                <div class="group">
                    <h2>Process</h2>
                    <div class="process">
                        {{#each skills.ux.process}}
                        <div class="icon-group">
                            <img class="icon" src="../assets/images/icons/{{this.img}}" alt="{{this.label}}" width="64" height="64">
                            <span class="icon-label">{{this.label}}</span>
                            <span class="icon-label">{{this.num}}</span>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div id="dev">
            <div class="heading">
                <h1 class="title"><span class="hidden-md">I'm a&nbsp;</span>{{skills.dev.title}}</h1>
            </div>
            <div class="detail">
                <div class="group">
                    <p class="hz">{{{skills.dev.desc}}}</p>
                </div>
                <div class="group">
                    <h2>Skills</h2>
                    <div class="chart">
                        {{#each skills.dev.skills}}
                        <div class="bar-group">
                            <div class="bar-container">
                                <hr><hr><hr>
                                <div class="bar" data-perc="{{this.percent}}"></div>
                            </div>
                            <span class="label">{{this.label}}</span>
                        </div>
                        {{/each}}
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="group">
                    <h2>Tools</h2>
                    {{#each skills.dev.tools}}
                    <span class="label-light">{{this}}</span>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
